.navbar {
  position: fixed;
  width: 100%;
  background-color: #121212;
  display: flex;
  justify-content: right;
  padding: 1rem;
  z-index: 1000;
}

.nav-link {
  font-size: 18px;
  font-weight: 800;
  color: #e34c26;
  text-decoration: none;
   position: relative;
   margin-right: 50px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: all 0.5s ease-out; /* Smooth animation */
  background-color: #121212;
  transform: scale(1);
  padding: 10px;
}

.nav-link:hover {
  transform: translateY(0);
  border: 2px solid #e34c26;
  box-shadow: 5px 5px 5px #000000;
}

